body {
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #6b8eac;
}

h2 {
  text-decoration: underline;
}

.main-nav {
  background-color: #022a4b;
  color: #6793d6;
  width: 2560px;
}

.main-nav ul {
  list-style: none;
}

.main-nav li {
  display: inline-block;
  margin: 20px 50px;
}

.main-nav a {
  color: white;
  text-decoration: none;
}

h1 {
  color: white;
  text-decoration: none;
  transform: translate(600px, 700px);
  font-size: 42px;
}

.animate__flash {
  animate: flash;
  animation-duration: 20s;
  animation-delay: 5s;
}

h1:hover {
  color: rgb(21, 45, 56);
}

.niffler-hide {
  position: relative;
  transform: translateY(1400px);
  margin: 0 0 20px 200px;
}

.niffler-hide__img1 {
  position: absolute;
  z-index: 2;
}

.niffler-hide__img1:hover {
  transform: rotateZ(150deg);
  transform-origin: 0;
  transition: transform 500ms;
  border: 1px solid #022a4b;
}

.nifler-hide__img2 {
  position: absolute;
  z-index: 1;
}

.bowtruckle-hide {
  position: relative;
  transform: translateY(550px);
  margin: 0 0 20px 804px;
}

.bowtruckle-hide__img1 {
  position: absolute;
  z-index: 2;
}

.bowtruckle-hide__img1:hover {
  transform: rotateX(90deg);
  transform-origin: 10px;
  transition: transform 500ms;
}

.niffler-hide__img2 {
  position: absolute;
  z-index: 1;
}

.hippogriff-hide {
  position: relative;
  transform: translateY(-101px);
}

.hippogriff-hide__img1 {
  position: absolute;
  z-index: 2;
}

.hippogriff-hide__img1:hover {
  transform: rotateY(90deg);
  transform-origin: 0;
  transition: transform 1000ms;
}

.hippogriff-hide__img2 {
  position: absolute;
  z-index: 1;
}
