body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(2, 16, 29);
}

h2 {
  text-decoration: underline;
}

h1 {
  color: antiquewhite;
  text-align: center;
  margin-top: 100px;
}

p {
  font-size: 22px;
  text-align: center;
  background-color: rgb(224, 109, 14);
  padding-top: 50px;
  width: 220px;
  height: 180px;
  border: 2px solid darkorange;
  position: absolute;
  z-index: 2;
}

img {
  position: absolute;
  padding-top: 30px;
  z-index: 1;
}

.card-position {
  position: relative;
}

.card-text {
  position: absolute;
  z-index: 2;
  transition-duration: 10000ms;
}

.card-text:hover {
  transform: rotateX(90deg);
  transform-origin: 10px;
  transition: transform 400ms;
  background-color: rgb(185, 13, 13);
  border-radius: 40px;
}

.flex-container-memory-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.second-row {
  transform: translateY(400px);
}

.third-row {
  transform: translateY(800px);
}

.ghost-horseman {
  transform: translateX(-130px);
  animation: transform 3000ms ease-in-out 1;
}

@keyframes transform {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(2000px);
  }
}

@media (max-width: 2550px) {
  h1 {
    display: none;
  }
  .flex-container-memory-cards {
    display: none;
  }
}

.tom-riddle-diary {
  transform: translateY(1600px);
  margin-left: 500px;
  background-image: url(../images/riddle.jpg);
  background-repeat: no-repeat;
  width: 1000px;
  height: 1400px;
}

.riddle__input {
  margin-top: 200px;
  margin-left: 10px;
}

#greeting {
  color: rgb(243, 241, 241);
  font-size: 1.2rem;
}
