body {
  background-repeat: no-repeat;
  background-size: auto;
  background-color: rgb(2, 16, 29);
}

h2 {
  text-decoration: underline;
}

.main-nav {
  background-color: rgb(2, 42, 75);
  color: rgb(103, 147, 214);
  width: 2560px;
}

.main-nav ul {
  list-style: none;
}

.main-nav li {
  display: inline-block;
  margin: 20px 50px;
}

.main-nav a {
  color: white;
  text-decoration: none;
}

.ghost-horseman {
  transform: translateX(-130px);
  animation: transform 3000ms ease-in-out 1;
}

@keyframes transform {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(2000px);
  }
}

h1 {
  color: antiquewhite;
  text-align: center;
  margin-top: 100px;
}

p {
  font-size: 22px;
  text-align: center;
  background-color: rgb(224, 109, 14);
  padding-top: 50px;
  width: 220px;
  height: 180px;
  border: 2px solid darkorange;
  position: absolute;
  z-index: 2;
}

img {
  position: absolute;
  padding-top: 30px;
  z-index: 1;
}

.card-position {
  position: relative;
}

.card-text {
  position: absolute;
  z-index: 2;
  transition-duration: 10000ms;
}

.card-text:hover {
  transform: rotateX(90deg);
  transform-origin: 10px;
  transition: transform 400ms;
  background-color: rgb(185, 13, 13);
  border-radius: 40px;
}

.grid-container-memory-cards {
  display: grid;
  grid-template-columns: repeat(9, 200px);
  grid-template-rows: repeat(3, 200px);
  grid-gap: 100px;
}
