body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(2, 16, 29);
}

h2 {
  text-decoration: underline;
}

.main-nav {
  background-color: rgb(2, 42, 75);
  color: rgb(103, 147, 214);
  width: 2568px;
}

.main-nav ul {
  list-style: none;
}

.main-nav li {
  display: inline-block;
  margin: 20px 50px;
}

.main-nav a {
  color: white;
  text-decoration: none;
}

#quidditch-finale-game {
  margin: 50px 0 0 1000px;
  color: rgb(50, 94, 22);
  width: 800px;
  font-size: larger;
}
