body {
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgb(2, 16, 29);
}

h2 {
  text-decoration: underline;
}

.main-nav {
  background-color: rgb(2, 42, 75);
  color: rgb(103, 147, 214);
  width: 100%;
}

.main-nav ul {
  list-style: none;
}

.main-nav li {
  display: inline-block;
  margin: 20px 50px;
}

.main-nav a {
  color: white;
  text-decoration: none;
}

#quidditch-finale-game {
  margin: 50px 0 0 900px;
  color: rgb(50, 94, 22);
  width: 900px;
  font-size: larger;
}

.hover-over-teams {
  margin: 50px 0 0 600px;
  width: 1700px;
  font-size: 40px;
  color: rgb(153, 209, 120);
}

.hover-over-teams:hover {
  color: red;
}

.golden-snitch:hover {
  transform: translateX(1000px);
  transition: transform 200ms;
}

.quidditch-scores {
  margin: 400px 0 80px 950px;
  color: rgb(15, 78, 78);
  width: 750px;
  font-size: larger;
}

ul li:first-child li:nth-child(2n + 1) {
  color: aquamarine;
}
