body {
  background-image: url(../images/Owls_Birds_Snowy_owl_Flight_Front_543052_2560x1440.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(107, 142, 172);
}

h2 {
  text-decoration: underline;
}

.article-one {
  position: relative;
  width: 379px;
  height: 216px;
  margin-left: 406px;
  transform: translateY(332px);
  border: 1px solid #022a4b;
}

.article-one__img {
  position: absolute;
  z-index: 2;
}

.article-one__img:hover {
  transform: rotateY(90deg);
  transform-origin: 0;
  transition: transform 500ms;
}

.article-one__text {
  position: absolute;
  z-index: 1;
  width: 340px;
  height: 150px;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(2, 42, 75);
}
