body {
  background-repeat: no-repeat;
  background-size: auto;
  background-color: rgb(0, 0, 0);
  color: rgb(110, 110, 238);
  font-family: "Single Day", cursive;
  font-size: larger;
}

h2 {
  color: azure;
}

h2:hover {
  color: rgb(119, 63, 211);
}

.main-nav {
  background-color: rgb(13, 9, 48);
  color: rgb(103, 147, 214);
  width: 2560px;
}

.main-nav ul {
  list-style: none;
}

.main-nav li {
  display: inline-block;
  margin: 20px 50px;
}

.main-nav a {
  color: white;
  text-decoration: none;
}

.object-behind-chest {
  margin-left: 40px;
  transform: translateY(-400px);
}

.open-chest__openimg {
 position: absolute;
 z-index: 2;
}

.open-chest__openimg:hover {
  transform: rotateY(90deg);
  transform-origin: 0;
  transition: transform 800ms;
}

.img-behind {
  position: absolute;
  z-index: -1;
  padding-top: 60px;
  transform: translateX(80px);
}

#cauldron-video {
  margin: 50px 0 0 900px;
  color: rgb(138, 150, 161);
}

.article-set-up {
  width: 450px;
  margin: 10px 0 50px 200px;
  padding: 5px;
  border: 2px solid plum;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
}

.article-set-up:hover {
  scale: 1.2;
}

#article-2 {
  width: 600px;
  padding-left: 55px;
}

#article-2:hover {
  transform: rotateY(150deg);
}