body {
  background-repeat: no-repeat;
  background-size: auto;
  background-color: rgb(2, 16, 29);
}

h2 {
  text-decoration: underline;
}

.main-nav {
  background-color: rgb(2, 42, 75);
  color: rgb(103, 147, 214);
  width: 2560px;
}

.main-nav ul {
  list-style: none;
}

.main-nav li {
  display: inline-block;
  margin: 20px 50px;
}

.main-nav a {
  color: white;
  text-decoration: none;
}

#cauldron-video{
  margin: 50px 0 0 900px;
  color:rgb(138, 150, 161);
}

#de-gnome{
  width: 1000px;
  height: 200px;
  background-color: rgb(92, 61, 231);
  margin: 60px 0 0 300px;
  padding: 10px 5px 5px 20px;
  border: 2px solid rgb(131, 129, 247);
  border-radius: 8px;
  display: inline-block;
}

#love-potion{
  width: 1000px;
  height: 200px;
  background-color: rgb(92, 61, 231);
  margin: 60px 0 0 300px;
  padding: 10px 5px 5px 20px;
  border: 2px solid rgb(131, 129, 247);
  border-radius: 8px;
  display: inline-block;
}